.signup-warp {
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 40%);
  padding: 10px;
  padding-top: 20px;
  padding-right: 40px;
  border-radius: 6px;
}

.card-info {
  margin-bottom: 24px;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: 0.5rem;
  padding: 12px;
}

.signup-link {
  text-decoration: underline;
}
